* {
  /* margin: 0; */
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: 'Baloo Bhai 2', sans-serif;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 0.8;
  position: relative;
  overflow-x: hidden;
}

:root {
  --primary-color: #232f3e;
  --secondary-color: #ff9900;
  --text-color: #fff;
  --hover-color: #e68a00;
  --background-color: #f2f2f2;
  --background-image-color: #f8f8f8;
  --accent-color: #ffa600;
  --dark-text-color: #333;
  --orange-color: #ffa600;
  --dark-orange-color: #e68a00;
  --purple-color: #723e64;
  --grey-color: #666;
  --light-grey-color: #7f7979;
  --transparent-black: rgba(0, 0, 0, 0.5);
  --linkedin-color: rgb(90, 90, 246);
  --black-color: black;
  --white-color: white;
}

#logo{
  position: absolute;
  height: 105px;
  width: 110px;
  border-radius: 50%;
  top: 63px;
  left: 3%;
  background: white;
  z-index: 2;
}
#ig-logo{
  position: absolute;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  top: 63px;
  right: 3%;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  #logo{
    height: 65px;
    width: 70px;
    top: 46px;
    left: 6%;
  }
  #ig-logo{
    height: 70px;
    width: 70px;
    top: 46px;
    right: 6%;
  }
  
}

.heading-section {
  position: relative;
  /* height: 400px; */
  background-image: url("./assets/bg-images/bg2.webp");
  /* background-color: #232f3e; */
  background-size: cover; 
  /* background-position-y: center; */
  background-position: 75%;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63vh;
  padding: 20px;
}

.heading-content {
  position: relative;
  z-index: 1;
  text-align: center;
}

.heading-content img {
  text-align: center;
  width: 200px;
  padding: 10px;
  margin-bottom: -80px;
  margin-top: 60px;
  border-radius: 50%;
}

.heading-content h2 {
  font-size: 3em;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 0px;
}
.heading-content h3 {
  font-size: 1em;
  font-weight: bold;
}

.heading-content button {
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #ff9900;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.heading-content a{
  text-decoration: none;
  color: white;
}

.heading-content button:hover {
  background-color: #e68a00; /* Change color on hover */
}

.heading-content p {
  font-size: 1.4em;
  margin-bottom: 15px;
  font-weight: 500;
}

.fas,
.far {
  color: #f2f2f2;
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .heading-section {
    background-position: 60%;
    min-height: 65vh;
  }
  .heading-content img {
    text-align: center;
    width: 200px;
    padding: 10px;
    margin-bottom: -80px;
  }
  .heading-content h2 {
    font-size: 2em;
  }
  .heading-content p {
    margin-top: -15px;
    font-weight: normal;
    font-size: medium;
  }
}


.sub-heading {
  color: #232f3e;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.8em;
  text-transform: uppercase;
}

/* hero section */

body {
  margin: 0;
  padding: 0;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

.bg-image {
  background-image: url('./assets/Hero/bg.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  filter: grayscale(30%); 
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: rgba(117, 117, 117, 0.7); 
  text-align: center;
}

.hero-container .text {
  font-size: 6rem;
  font-weight: 600;
  text-shadow: 6px 2px 2px rgb(11, 0, 45);
  color: rgb(255, 255, 255); 
  margin: 0;
  padding: 0;
  user-select: none;
}

@media (max-width: 935px) {
  .hero-container .text {
    font-size: 5rem;
  }
}

@media (max-width: 639px) {
  .hero-container .text {
    font-size: 3.5rem;
  }
}

.text h1 {
  font-family: "Raleway", sans-serif;
}

.text span {
  font-family: "Raleway", sans-serif;
  color: #94b0c9;
  position: relative;
  cursor: pointer;
}

.text span::after{
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  bottom: -5px; 
  left: 50%;
  background-color: #94b0c9;
  border-radius: 10px;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.text span:hover::after{
  width: 100%;
  left: 0;
}

/* ... cores ... */

.cores-section {
  background-color: #daeaf9;
  text-align: center;
  padding: 30px 0;
  color: #333; 
}

.cores-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 20px;
  max-width: 80%;
  margin: 0 auto;  
}

.cores-container-captain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 20px;
  max-width: 30%;
  margin: 0 auto;  
}

.cores-card {
  position: relative;
  /* width: 350px; */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  /* display: flex; */
  /* background-color:#ffa600;
  border: 2px solid black; */
  background-color: #f8f8f8;
  /* padding: 5px; */
}

.cores-card img {
  width: 235px;
  /* height: 100% !important; */
  height: 267px;
  border-radius: 8px;
  object-fit: cover;
}

.cores-details {
  padding: 15px;
  height: 65px;
  width: 205px;
  margin-top: 10px;
  /* text-align: center; */
  /* background-color: #f8f8f8; */
}

.cores-details > h3{
  margin-top: 0px;
}


.cores-details p:first-of-type{
  margin: -14px 0;
  font-style: italic;
  color: #666;
  font-size: small;
}

.cores-details h5 {
  margin-bottom: 0px;
}

.cores-details p:nth-last-child(1){
  margin: 1px 0;
  font-size: small;
}

.linkedin-icon-cores {
  position: absolute;  
  height: 216px;
  /* height: 92%; */
  width: 184px;
  top: 115px;
  left: 100px;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: rgb(90, 90, 246); 
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 8px;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.cores-card:hover .linkedin-icon-cores {
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.cores-details > a > i{
  
  color: rgb(90, 90, 246);
  position: absolute;
  top: -5px;
  left: -4px;
  background: #f8f8f8;
  border-radius: 34px;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .cores-container{
    padding: 20px;
    
  }
  .cores-container-captain{
    padding: 20px;
    max-width: 80%;
    
  }
  .cores-card {
    padding: 14px;
    margin: 3px;
    overflow:visible;
  }
  .cores-card img{
    width: 200px;
    height: 267px;
    border-radius: 8px;
    object-fit: cover;
    box-sizing:content-box;
  }
  .cores-details {
    padding: 10px;
    height: 65px;
    width: 185px;
  }
  .cores-details h3{
    margin-top: 10px;
    font-size: 1.06em;
  }
  .cores-details p:first-of-type{    
    font-size: x-small;
  }  
  .linkedin-icon-cores{
    height: 74%;
    width: 140px;
    top: 50%;
    left: 50%;
  }
  .cores-card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.9s ease, transform 0.9s ease;
  }
  
  .cores-card.show {
    opacity: 1;
    transform: translateY(0);
  }

  .cores-details > a > i{
    opacity: 1;
    color: rgb(90, 90, 246);
    position: absolute;
    top: -5px;
    left: -4px;
    background: #f8f8f8;
    border-radius: 34px;
  }
    
}

.fab{
  padding: 10px;
  font-size: 25px;
}