:root {
  --light-blue: #94b0c9;
  --dark-blue: #1c1678;
  --black-color: black;
  /* Background */
  --white-color: white;
  --off-white-color: #f2f2f2;
  --off-blue-color: #daeaf9;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    font-family: 'Baloo Bhai 2', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    /* line-height: 0.8; */
    position: relative;
    overflow-x: hidden;
    background-color: var(--off-blue-color);
  }
  
  header {
    text-align: center;
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
  }

  
  .blogs-flexbox{
    display:flex;
    margin: 2em 10% 2em;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .blogs-card{
    background-color: var(--off-white-color);
    width: 30%;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
  
  .blogs-card img {
    width: 100%;
  }
  
  .blogs-card h1 {
    margin: 5%;
    width: fit-content;
    padding-bottom: 0;
    margin-bottom: 1rem;
    color: var(--dark-blue);
    text-align: center;
  }
  
  .blogs-subheading {
    display: flex;
    justify-content: space-between;
  }
  .blogs-subheading div {
    display: inline-block;
  }
  blogs p{
    width: 80%;
  }
  
  
  blogs a {
    text-decoration: none;
    padding: 0 5% 1rem; 
  }
  
  .blogs-left-align {
    padding: 0 5% 5%;
    overflow: visible;
  }
  .blogs-green {
    color: var(--light-blue);
  }
  
  
  @media only screen and (max-width: 768px) {
    .blogs-flexbox {
      display: block;
      margin: 0 10%;
    }
    .blogs-card {
      width: 100%;
      margin-bottom: 2rem;
    }
    
    .blogs-card h1 {
      text-align: center;
    }
    .blogs-subheading {
      justify-content: center;
    }
    .blogs-subheading div {
      padding: 1rem; 
    }
    
    blogs a{
      text-align: center;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .blogs-subheading {
      display: block;
      text-align: center;
  
    }
    .blogs-subheading div {
      padding: 0.25rem; 
      display: block;
    }
  /*   a {
      text-align:center;
    } */
  }